.wrapper{
    width: 90%;
    background-color: #f8f8f8;
    margin: 30px auto;
    border-radius: 10px;
    overflow: hidden;
}
.imageCardSection{
    width: 50%;
}

.imageCardSection.content{
    padding: 30px;
}

.icon{
    color:rgb(0, 136, 255);
    font-size: 1.3rem;
    margin-top: 3px;
    margin-right: 10px;
}

@media only screen and (max-width:1300px){
    .wrapper{
        width: 95%;
    }
}

@media only screen and (max-width:1090px){
    .wrapper{
        width: 99%;
    }

    .imageCardSection{
        width: 100% ;
    }

    .imageCardSection.content{
        padding-top: 0;
    }

    .wrapper > img{
        border-radius: 10px;
        margin: 30px;
        margin-right: auto;
        box-shadow: 10px 10px 20px #00000040;
    }
}

@media only screen and (max-width:600px){
    

    .wrapper > img{
        border-radius: 0px;
        margin: 0px;
        margin-bottom: 30px;

    }
}