.wrap{ 
     width: 48%;
}

.heading{
    font-size: 1.6rem;
    text-align: center;
    margin: 50px auto;
    width: 90%;
}

@media only screen and (max-width:768px){
   .wrap{
    width: 90%;
    margin: auto;
   }
}