.slide{
    width: 98%;
    height: 60vh;
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .contactus{
    background-image: url(../../public/backgroundImages/contactpage.jpg);
  }

  .content{
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 100%;
  }
  
  .heading{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
  }
  
  .text{
    width:90%;
    margin:auto;
    margin-top:10px;
    color: #fff;
    font-size: large;
  }

  .shade{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000070;
    z-index: 0;
  }

  @media only screen and (max-width:650px){
    .slide{
      height: 40vh;
    }
  }