.navBar{
    padding: 10px 20px;
    box-shadow: 0 10px 20px #00000020;
    position: relative;
}

.mainMenu{
    width: 100%;
}

.facebook{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--primary-blue);
    margin-right: 10px;
}

.facebook a{
    color: inherit;
}

.facebook a:focus , .facebook a:active ,  .facebook a:visited{
    color: var(--primary-blue);
}

.mainMenu ul li{
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.mainMenu ul li.active{
    background-color: #00000010;
}

.w20{
    width: 20% !important;
}

.w40{
    width: 40% !important;
}

.hamMenu{
    font-size: 1.6rem;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.notVisible{
    display: none !important;
}

.pointer::after{
    content: "";
    position: absolute;
    top: 15px;
    padding: 5px;
    border-radius: 100%;
    background-color: crimson;
}

@media only screen and (max-width:1040px) {
    .mainMenu{
        position: absolute;
        z-index: 100;
        background-color: #fff;
        top: 100%;
        right: 0;
        left: 0;
        margin: 0;
        width: 100%;
    }

    .hamMenu{
        display: flex;
    }

    .mainMenu > ul > li{
        width: 100%;
    }
    .w20 , .w40{
        width: 100% !important;
        justify-content: flex-end !important;
    }
}