.card{
    text-align: center;
    color: #fff;
    border-right: 1px solid #ffffff;
    width: 30%;
    padding: 40px 0;
}

.wrapper{
    background-image: linear-gradient(to right , var(--primary-blue) , rgb(0, 106, 219));
    margin: 30px 0;
}

.card:last-child{
    border: none;
}

.number{
    font-size: 4rem;
}

.text{
    font-size: 1.3rem;
}