.img{
    background-image: url(../../public/backgroundImages/blue_bg.png);
}

.slide{
    margin: 30px 0;
}

.column{
    width: 50%;
    overflow: hidden;
}

.column:first-child{
    padding: 20px;
    color: #fff;
    padding-left: 50px;
}

.heading{
    font-size: 2.3rem;
    font-weight: 600;
}


.img{
    box-shadow: 10px 10px 30px #00000070;
}

@media only screen and (max-width:800px){
    .slide{
        flex-direction: column;
    }

    .column{
        width: 100%;
        margin: auto;
    }

   .marginAuto{
    margin: auto;
    width: 400px;
   }
}